# ── SQL Server ────────────────────────────────────────────────────────────────
# Debe tener: min 8 chars, mayúscula, minúscula, número y carácter especial
SQL_SA_PASSWORD=YourStrong@Passw0rd

# ── AWS Cognito ───────────────────────────────────────────────────────────────
COGNITO_REGION=us-east-1
COGNITO_USER_POOL_ID=us-east-1_XXXXXXXXX
COGNITO_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXXXX
COGNITO_DOMAIN=slotify.auth.us-east-1.amazoncognito.com
